# Zugriff auf sensible Dateien blockieren
<FilesMatch "^(config\.php|config\.example\.php)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

Options -Indexes
